
@{
    ViewData["Title"] = "Fallback Page";
}


<div class="jumbotron">
    <p>Fallback</p>
    <div class="panel panel-danger">
        <div class="panel-heading">
            <h3 class="panel-title">You're Offline</h3>
        </div>
        <div class="panel-body">
            You're offline please visit any cached pages.
        </div>
    </div>
</div>