@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PWA.NetCore</title>

    <link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true" />
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">PWA.NetCore</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-area="" asp-controller="CNN" asp-action="Index">CNN</a></li>
                    <li><a asp-area="" asp-controller="CNA" asp-action="Index">CNA</a></li>
                    <li><a asp-area="" asp-controller="TechCrunch" asp-action="Index">Tech Crunch</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <br />
    
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>
   
    <script src="~/dist/vendor.bundle.js" asp-append-version="true"></script>
    <script src="~/dist/app.bundle.js" asp-append-version="true"></script>

    <script>
        
        if('serviceWorker' in navigator){
            $(document).ready(function (){
                navigator.serviceWorker.register('sw.js').then(function(registration) {
                 //Registration was successful
                console.log('ServiceWorker registration successful with scope: ', registration.scope);
                }, function(err) {
                 //registration failed :(
                console.log('ServiceWorker registration failed: ', err);
                }); 
            });
        }else{
            console.log("Service Worker Not Supported!");
        }
    
    </script>


</body>
</html>
